
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="common_treegrid_footer(script)">

    <script th:src="@{/thirdparty/jquery/jquery.min.js}"></script>
    <script th:src="@{/thirdparty/bootstrap/3.3.7/bootstrap.min.js}"></script>
    <script th:src="@{/thirdparty/treegrid/jquery.treegrid.min.js}"></script>
    <script th:src="@{/thirdparty/treegrid/jquery.treegrid.extension.js}"></script>
    <script th:src="@{/common/template/js/treegrid.js}"></script>
    <script th:src="@{/common/template/js/sidebar.js}"></script>
    <script th:src="@{/thirdparty/layui/layui-v2.5.5/layui.all.js}"></script>
    <script th:src="@{/thirdparty/layui/layer-v3.1.1/layer/layer.js}"></script>
    <script th:src="@{/common/global/redirectUrl.js}"></script>

    <!--/* Per-page placeholder for additional script*/-->
    <th:block th:replace="${script}" />
</div>
