<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/list-header:: common_list_header(~{::title},~{::link})">
  <title>系统参数</title>
  <link rel="stylesheet" th:href="@{/common/sys/css/param.css}">
</head>

<body>

  <!-- add & edit -->
  <div class="site-text site-block layui-fluid hy-edit-form" hidden>
    <form class="layui-form" action="">
      <input type="text" name="id" hidden>
      <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
          <input type="text" name="title" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">域名</label>
        <div class="layui-input-block">
          <input type="text" name="domain" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">登录页</label>
        <div class="layui-input-block">
          <input type="text" name="loginPage" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">主页</label>
        <div class="layui-input-block">
          <input type="text" name="homePage" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">版权</label>
        <div class="layui-input-block">
          <input type="text" name="copyright" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">logo</label>
        <div class="layui-input-block">
          <input type="text" name="logo" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">favicon</label>
        <div class="layui-input-block">
          <input type="text" name="favicon" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">背景图片</label>
        <div class="layui-input-block">
          <input type="text" name="backgroundImage" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button type="submit" class="layui-btn" lay-submit="" lay-filter="formSubmit">提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </form>
  </div>

  <div class="layui-container hy-sidebar">
    <div>搜索</div>
    <div class="layui-row">
      <div class="layui-col-md12">
        <form class="layui-form" action="">
          <div class="layui-form-item">
            <label class="layui-form-label">角色名称:</label>
            <div class="layui-input-block">
              <input type="text" name="roleName" lay-verify="" placeholder="支持sql模糊匹配" autocomplete="off"
                class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">备注:</label>
            <div class="layui-input-block">
              <input type="text" name="remark" lay-verify="" placeholder="支持sql模糊匹配" autocomplete="off"
                class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <button type="submit" class="layui-btn">搜索</button>
            <button type="reset" class="layui-btn">重置</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="layui-fluid">
    <div class="layui-row hy-main-list">
      <div class="layui-col-md12" id="hy-table-toolbar">
        <button class="layui-btn hy-toolbar-add">增加</button>
        <button class="layui-btn layui-btn-normal hy-toolbar-edit">修改</button>
        <button class="layui-btn layui-btn-danger hy-toolbar-delete">删除</button>
      </div>
      <div class="layui-col-md12">
        <table id="hy-table" lay-filter="hyTable"></table>
      </div>
    </div>
  </div>

  <div th:replace="common/list-footer:: common_list_footer(~{::script})">
    <script th:src="@{/common/sys/js/param.js}"></script>
  </div>

</body>


</html>