<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/treegrid-header:: common_treegrid_header(~{::title},~{::link})">
  <title>菜单</title>
  <link rel="stylesheet" th:href="@{/common/sys/css/menu.css}">
</head>

<body>
  <!-- add & edit -->
  <div id="hy-edit-form" hidden>
    <form class="layui-form" action="">
      <input type="text" name="menuId" hidden>
      <input type="text" name="parentId" hidden>
      <div class="layui-form-item">
        <label class="layui-form-label">菜单名字:</label>
        <div class="layui-input-block">
          <input type="text" name="name" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">类型:</label>
        <div class="layui-input-block">
          <select name="type" lay-verify="required">
            <option value=""></option>
            <option value="0">目录</option>
            <option value="1">菜单</option>
            <option value="2">按钮</option>
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">地址:</label>
        <div class="layui-input-block">
          <input type="text" name="url"  autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">排序:</label>
        <div class="layui-input-block">
          <input type="number" name="orderNum" value="0" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button type="submit" class="layui-btn" lay-submit="" lay-filter="formSubmit">提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </form>
  </div>

  <div class="layui-container hy-sidebar">
    <div>搜索</div>
    <div class="layui-row">
      <div class="layui-col-md12">
        <form class="layui-form" action="">
          <div class="layui-form-item">
            <label class="layui-form-label">名称:</label>
            <div class="layui-input-block">
              <input id="name" type="text" name="name" required lay-verify="required" placeholder="支持sql模糊匹配"
                autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <button class="layui-btn" type="submit">搜索</button>
            <button type="reset" class="layui-btn">重置</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="layui-fluid">
    <div class="layui-row main-list">
      <div class="layui-col-md12" id="hy-treegrid-toolbar">
        <button id="hy-toolbar-add" class="layui-btn">增加</button>
        <button id="hy-toolbar-edit" class="layui-btn layui-btn-normal">修改</button>
        <button id="hy-toolbar-delete" class="layui-btn layui-btn-danger">删除</button>
      </div>
      <div class="layui-col-md12">
        <table id="tableTree" data-mobile-responsive="true" data-click-to-select="true"
          class="table table-bordered text-nowrap">
        </table>
      </div>
    </div>
  </div>

  <div th:replace="common/treegrid-footer:: common_treegrid_footer(~{::script})">
    <script th:src="@{/common/sys/js/menu.js}"></script>
  </div>
</body>

</html>