<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.service.mapper.SysUserMapper">

    <resultMap id="UserListWhiRoleResultMap" type="com.example.demo.service.model.vo.SysUserVo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>

        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
        <collection property="roles" ofType="com.example.demo.service.model.entity.SysRole" column="id"
                    select="selectRolesById"/>
    </resultMap>
    <select id="selectRolesById" parameterType="java.lang.Long"
            resultType="com.example.demo.service.model.entity.SysRole">
        select sys_role.* from sys_user, sys_role, sys_user_role where sys_user.id=#{id} and
        sys_role.id=sys_user_role.role_id and sys_user.id=sys_user_role.user_id
    </select>
    <select id="findListWithRole" parameterType="java.util.Map" resultMap="UserListWhiRoleResultMap">
        select
        sys_user.id, sys_user.name, sys_user.nick_name, sys_user.password, sys_user.avatar, sys_user.email,
        sys_user.mobile,
        sys_user.del_flag, sys_user.status, sys_user.create_time,sys_user.create_by, sys_user.last_update_time,
        sys_user.last_update_by,
        (select d.name from sys_dept d where d.id = sys_user.dept_id) dept_name
        from sys_user
        <where>
            <if test="vo.name!=null">
                <bind name="patternName" value="'%' + vo.name + '%'"/>
                and sys_user.name like #{patternName}
            </if>
            <if test="vo.nickName!=null">
                <bind name="patternNickName" value="'%' + vo.nickName + '%'"/>
                and sys_user.nick_name like #{patternNickName}
            </if>
            <if test="vo.email!=null">
                <bind name="patternEmail" value="'%' + vo.email + '%'"/>
                and sys_user.email like #{patternEmail}
            </if>
            <if test="vo.mobile!=null">
                <bind name="patternMobile" value="'%' + vo.mobile+ '%'"/>
                and sys_user.mobile like #{patternMobile}
            </if>
        </where>
    </select>
</mapper>
