<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link rel="stylesheet" th:href="@{/thirdparty/layui/layui-v2.5.5/css/layui.css}">
  <link rel="stylesheet" th:href="@{/common/index/index.css}">
  <link rel="stylesheet" th:href="@{/common/template/css/scrollbar.css}">
</head>

<body>
  <div id="header">
    <div id="toolbar-left">
      浩亚信息科技有限公司
    </div>
    <div id="toolbar-mid">
      <div id="fillLeft"></div>
      <div class="layui-tab layui-tab-brief" lay-filter="main-menu">
        <ul id="main-menu" class="layui-tab-title">
        </ul>
        <div id="sub-menu" class="layui-tab-content">
        </div>
      </div>
    </div>

    <div id="toolbar-right">
      <ul class="layui-nav">
        <li class="layui-nav-item">
          <a href="">控制台<span class="layui-badge">0</span></a>
        </li>
        <li class="layui-nav-item">
          <a href="">个人中心<span class="layui-badge-dot"></span></a>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;" th:text="${sysUser.nickname}"><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" id="user-info-modify">修改信息</a></dd>
            <dd><a href="javascript:;" id="user-password-modify">安全管理</a></dd>
            <dd><a href="javascript:;" id="user-logout">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>

  <div id="main-board">
    <div class="layui-tab layui-tab-card" lay-filter="main-board-tab" lay-allowClose="true">
      <ul class="layui-tab-title">
        <li>主页</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <iframe frameborder=0 height=100% width=100% name="" scrolling=auto seamless src="/home/index.html"></iframe>
        </div>
      </div>
    </div>
  </div>

  <!-- 信息修改 -->
  <div class="site-text site-block layui-fluid info-edit" id="info-modify" hidden>
    <form class="layui-form" action="" layui-filter="info-modify">
      <div class="layui-form-item">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-block">
          <input type="text" name="nickname" lay-verify="required" autocomplete="off" class="layui-input" th:value="${sysUser.nickname}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
          <input type="email" name="email" autocomplete="off" lay-verify="email" class="layui-input" th:value="${sysUser.email}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-block">
          <input type="tel" name="mobile" lay-verify="required|phone" autocomplete="off" class="layui-input" th:value="${sysUser.mobile}">
        </div>
      </div>
      <div class="layui-input-block">
        <button type="submit" class="layui-btn" lay-submit="" lay-filter="formUserInfo">提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </form>
  </div>

  <!-- 密码修改 -->
  <div class="site-text site-block layui-fluid info-edit" id="password-modify" hidden>
    <form class="layui-form" action="" layui-filter="password-modify">
      <div class="layui-form-item">
        <label class="layui-form-label">旧密码</label>
        <div class="layui-input-block">
          <input type="password" name="oldPassword" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block">
          <input type="password" name="newPassword" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">确认新密码</label>
        <div class="layui-input-block">
          <input type="password" name="confirmPassword" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-input-block">
        <button type="submit" class="layui-btn" lay-submit="" lay-filter="formPasswordModify">提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </form>
  </div>

  <script th:src="@{/thirdparty/jquery/jquery.min.js}"></script>
  <script th:src="@{/thirdparty/layui/layui-v2.5.5/layui.all.js}"></script>
  <script th:src="@{/common/index/index.js}"></script>
  <script th:src="@{/common/global/globalInfo.js}"></script>
</body>

</html>