<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/common/sys-param/default/login.css}">
    <link rel="stylesheet" th:href="@{/thirdparty/element-ui/2.13.2/index.css}">
    <title>登录</title>
</head>

<body>

    <div id="app" v-loading.fullscreen.lock="loading" element-loading-background="rgba(0, 0, 0, 0.5)" @keyup.enter="onSubmit('form')">
        <el-container>
            <el-main>
                <el-row>
                    <el-col>
                        <div id="logo"><img src="/common/sys-param/default/default-logo.png" /></div>
                        <div class="header">
                            <h1 th:text="${title}"></h1>
                        </div>
                    </el-col>
                </el-row>
                <el-row>
                    <el-form :model="form" status-icon="true" :rules="rules" ref="form" label-width="auto"
                        hide-required-asterisk="true" class="login-form" >
                        <el-form-item label="用户名" prop="username" >
                            <el-input v-model.number="form.username"></el-input>
                        </el-form-item>
                        <el-form-item label="密码" prop="password">
                            <el-input type="password" v-model="form.password" autocomplete="off" ></el-input>
                        </el-form-item>
                        <el-form-item id="remember-me">
                            <el-checkbox v-model="form.rememberMe">记住我</el-checkbox>
                        </el-form-item>
                        <el-button class="login-button" type="primary" @click="onSubmit('form')">提交</el-button>
                    </el-form>
                </el-row>

            </el-main>
        </el-container>
    </div>

    <script th:src="@{/thirdparty/vue/axios.min.js}"></script>
    <script th:src="@{/thirdparty/vue/lodash.min.js}"></script>
    <script th:src="@{/thirdparty/vue/vue.min.js}"></script>
    <script th:src="@{/thirdparty/element-ui/2.13.2/index.js}"></script>
    <script th:src="@{/common/sys-param/default/login.js}"></script>
    <link rel="stylesheet" th:href="@{/common/sys-param/default/login.css}">

</body>

</html>