#hy-edit-form {
    padding: 20px;
}

#hy-edit-form .layui-form-label {
    width: inherit !important;
}

#hy-edit-form {
    margin-top: 15px;
    padding: 0 15px;
}

.hy-sidebar input {
    color: black;
}